/gretel_bcc.log

/nginx1.logs
/nginx2.logs
/nginx_yesgretel/nginx1.logs
/nginx_yesgretel/nginx2.logs
/nginx_nogretel/nginx1.logs
/nginx_nogretel/nginx2.logs

/nginx_a.logs
/nginx_b.logs
/nginx_yesgretel/nginx_a.logs
/nginx_yesgretel/nginx_b.logs
/nginx_nogretel/nginx_a.logs
/nginx_nogretel/nginx_b.logs

/nginx_yesgretel/gretel_bcc.log
/nginx_nogretel/gretel_bcc.log
*.dot
/curl_output.txt
